---
const { pageTitle } = Astro.props;
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import bgImage from "../images/bg.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Ashhad Ahmad - Youtuber, Engineer." />
    <link rel="icon" type="image/x-icon" href="/favicon.ico?" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>

  <body class="bg-white dark:bg-[#0A0A0D]">
    <div
      class="absolute top-0 overflow-hidden -z-10 w-screen flex justify-center select-none pointer-events-none"
    >
      <Image
        src={bgImage}
        alt="colorful gradient"
        class="max-w-6xl opacity-70 animate__animated animate__fadeIn"
      />
    </div>
    <div class="w-screen lg:max-w-5xl m-auto flex flex-col">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
